<tr class="deck-card <%= card.card_types.collect(&:slug).join(' ') %>">
  <td class="number">
    <%= hidden_field_tag "deck[deck_cards_attributes][#{count}][number]", @deck.deck_cards.where(card_id: card.id).try(&:first).try(&:number) %>
    <%= hidden_field_tag "deck[deck_cards_attributes][#{count}][card_id]", card.id  %>
  </td>
  <td class="name"><%= card.name %></td>
  <td class="identity">
    <i data-toggle="tooltip" title="<%= card.identity.name %>" class="icon icon-<%= card.identity.slug %>"></i>
  </td>
  <td class="card-types">
    <% card.card_types.not_identity.each do |type| %>
      <i data-toggle="tooltip" title="<%= type.name %>" class="icon icon-<%= type.slug %>"></i>
    <% end %>
  </td>
  <td class="influence"><%= card.influence %></td>
</tr>
