<%= simple_form_for @deck do |f| %>
  <div class="row">
    <%= f.input :faction_id, as: :hidden, input_html: { value: @faction.id } %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

    <div class="identity col-md-5"%>
      <div class="panel panel-default">
        <div class="panel-heading"><%= f.input :name %></div>
        <div class="panel-body">
          <%= f.input :identity_card_id, as: :select, collection: @identities %>
        </div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item number-of-cards">
            <span class="badge"><%= @deck.deck_cards.sum(:number) %></span> Cards
          </li>
        </ul>
      </div>

      <div class="card-list panel panel-default">
        <div class="panel-heading">Cards</div>
        <table class="table">
          <thead>
            <tr>
              <th>Number</th>
              <th>Card</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>

    <div class="card-selection col-md-7"%>
      <% count = 0 %>

      <div class="btn-toolbar card-toggles" role="toolbar">
        <div class="btn-group">
          <button type="button" class="neutral btn btn-default" title="neutral">
            <i class="icon icon-neutral"></i>
          </button>

          <% @identities.collect(&:identity).uniq.each do |card_type| %>
            <button type="button" class="<%= card_type.slug %> btn btn-default" title="<%= card_type.name %>">
              <i class="icon icon-<%= card_type.slug %>"></i>
            </button>
          <% end %>
        </div>

        <div class="btn-group">
          <% @cards.each do |card_type, cards| %>
            <button type="button" class="<%= card_type %> btn btn-default" title="<%= card_type.to_s.titleize %>">
              <i class="icon icon-<%= card_type %>"></i>
            </button>
          <% end %>
        </div>
      </div>

      <% @cards.each do |card_type, cards| %>
        <div class="<%= card_type.to_s%> panel panel-default">

          <div class="panel-heading"><%= card_type.to_s.titleize %> cards</div>
          <table class="table">
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Identity</th>
              <th>Types</th>
              <th>Influence</th>
            </tr>

            <tbody>
              <% cards.each do |card| %>
                <%= render partial: "deck_card", locals: {card: card, count: count} %>
                <% count += 1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>


    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
