<%= simple_form_for @deck do |f| %>
  <div class="row">
    <%= f.input :name %>
    <%= f.input :faction_id, as: :hidden, input_html: { value: @faction.id } %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

    <div class="identity col-md-5"%>
      <%= f.input :identity_card_id, as: :select, collection: @identities %>
    </div>

    <div class="card-selection col-md-7"%>
      <% count = 0 %>
      <% @cards.each do |card_type, cards| %>
        <div class="panel panel-default">

          <div class="panel-heading"><%= card_type.to_s.titleize %> cards</div>
          <table class="table">
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Identity</th>
              <th>Types</th>
              <th>Influence</th>
            </tr>

            <tbody>
              <% cards.each do |card| %>
                <%= render partial: "deck_card", locals: {card: card, count: count} %>
                <% count += 1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>


    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
