<% content_for :title, "Your decks" %>
<div class="row">
  <%= link_to "Create a new Runner deck", decks_new_runner_path, class: "btn btn-primary" %>
  <%= link_to "Create a new Corporation deck", decks_new_corporation_path, class: "btn btn-primary" %>
</div>

<% if @decks.any? %>
  <div class="row">
    <table class="decks table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Identity</th>
        </tr>
      </thead>
      <tbody>
        <% @decks.each do |deck| %>
          <tr>
            <td class="image"><%= image_tag Card.find(deck.identity_card_id).card_image %></td>
            <td><%= link_to deck.name, deck_path(deck) %></td>
            <td><%= link_to Card.find(deck.identity_card_id).name, deck_path(deck) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
