<!DOCTYPE html>
<html>
<head>
  <title>Deckbuilder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/></head>
<body class="<%= "#{controller_name} #{action_name}" %>">
<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>

<div class="container">
  <%= yield %>
</div>


<%= javascript_tag do %>
  <%= raw(content_for(:js_page).presence || "Deck.page=new Deck.BasePage();") %>
<% end %>
</body>
</html>
